<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contribute</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link href="//db.onlinewebfonts.com/c/17264ff611cbd77e63ab665b0e1f2d2b?family=EngrvrsOldEng+BT" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="main-container">
    <h2>San Jose Boring</h2>
    <h3> Submit a suggestion</h3>
    <form action="post_user" method="POST">
        <input type="text" id="name-input" name="name" placeholder="Restaurant name"> <p></p>
        <input type="num" id="street_add-input" name="street_add" placeholder="Street number"> <p></p>
        <input type="text" id="street_name-input" name="street_name" placeholder="Street name"> <p></p>
        <input type="text" id="city-input" name="city" placeholder="City"><p></p>
        <input type="num" id="zip-input" name="zip" placeholder="Zip"><p></p>
        <button class="submit-btn" type="submit">Submit</button>

    </form>


    </div>  
</body>
</html>
