<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="./static/styles.css">
    
</head>
    <div class="row">
    <button onclick="window.location.href='another'" class="flex-button">Explore</button>
    <button onclick="window.location.href='post_sugg'" class="flex-button">Suggestion</button>

    </div>
<body>
    <div class="main-container">    

    <button onclick="window.location.href='home'" class="h2">San Jose Boring</button>
    {%  if data %}
    <p>Welcome!</p>
    <p>{{ data.anime}}</p>
    <p>{{ data.quote }}</p>
    <p>{{ data.character}}</p>

    {% endif %}
    <p></p>
    <img src="https://i.imgflip.com/g40z3.jpg?a466272">

</div>
   
</body>
</html>