<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link href="//db.onlinewebfonts.com/c/17264ff611cbd77e63ab665b0e1f2d2b?family=EngrvrsOldEng+BT" rel="stylesheet" type="text/css"/>


</head>
<body>
    <div class="main-container">
    <h2>San Jose Boring</h2>
    
    <hr/>
    <p>Log in existing user</p>
    

    <form action="login_user" method="POST">

        
        <input type="email" id="email-input" name="email" placeholder="Enter your email"> <p></p>
        <input type="text" id="pw-input" name="password" placeholder="Enter your password"><p></p>
        <button class="submit-btn" type="submit">Log in</button>

    </form>
   
    <p><a class="signup" href="/signup">Sign up</a></p>
</div>
    
</body>
</html>